<!DOCTYPE HTML>
<html lang="fr">
<head>
  <title>Liste des allocataires</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
        crossorigin="anonymous">
  <style>
    /* Modify the background color */
    .btn-custom {
      outline-color: teal;
      border-color: teal;;
      color: teal;
      height: 28px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  </style>
</head>
<!-- Navbar -->
<nav class="navbar navbar-light bg-dark">
  <div class="d-flex flex-row ms-2">
    <div class="col me-3" style="height: 80px">
      <a class="navbar-brand" href="#">
        <img th:src="@{/logo.png}" alt="logo CAF" width="150" height="45">
        <p class="fw-bold text-white"><span th:text="${ipAddress}" /> - Caisse des Allocations Familiales</p>
      </a>
    </div>
    <div class="col">
      <a class="btn btn-outline-light" th:href="@{/web}">Home</a>
    </div>
  </div>
</nav>
<body>
<h2 class="ms-4 mt-2 mb-3
      ">Liste des allocataires</h2>
<div class="col-8 align-items-center">
  <table class="table table-bordered table-striped mx-4">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Numéro AVS</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="allocataire : ${allocataires}"
        th:with="myCounter=${counter}">
      <!--https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#keeping-iteration-status -->
      <td th:text="${myCounter.increment(1)}"></td>
      <td th:text="${allocataire.getNom()}"></td>
      <td th:text="${allocataire.getPrenom()}"></td>
      <td th:text="${allocataire.getNoAVS().getValue()}"></td>
      <td><a class="btn btn-custom"
             th:href="@{/web/manage(noAVS=${allocataire.getNoAVS().getValue()})}">Gérer</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>